[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mongoengine = "*"
eve = "*"
blinker = "*"

[dev-packages]
bump2version = "*"
twine = "*"

[requires]
python_version = "3.7"
